---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Footer from "../../components/Footer.astro";
import NavBar from "../../components/NavBar.astro";
export const prerender = true;

export interface Props {
    post: CollectionEntry<"blog">;
}

export async function getStaticPaths () {
    const posts = await getCollection("blog", ({data}) => !data.draft);

    return posts.map((post) => ({
        params: {slug: post.slug},
        props: {post}
    }))
}

const { post } = Astro.props;
const { Content } = await post.render();

---
<Layout title={post.data.title}>
    <NavBar />
    <div class="prose m-8 md:flex md:flex-col md:mx-auto text-base">
        <Content />
    </div>
    <Footer />
</Layout>
