---
import Layout from "../../layouts/Layout.astro";
import NavBar from "../../components/NavBar.astro";
import { databasesdatas} from "../../datas/skills/databasesdatas";
import List from "../../components/List.astro";
---
<Layout>
    <NavBar />
    <h1 class="text-4xl text-center font-bold mt-8">Base de données</h1>
    <p class="text-lg mt-4 mx-4">
        Les bases de données sont des outils indispensables pour stocker, sécuriser et organiser des données. Il existe plusieurs types de bases de données, chacune ayant ses spécificités.
    </p>
    <List data={ databasesdatas } imagePath="/_ad5a567a-90a1-470c-bf46-78f39bf701db.jpeg" />
</Layout>