---
import { databasesdatas} from "../../datas/skills/databasesdatas";
import List from "../../components/List.astro";
import LayoutSkill from "../../layouts/LayoutSkill.astro";
---
<LayoutSkill title="Base de données">
    <p slot="description">Les bases de données sont des outils indispensables pour stocker, sécuriser et organiser des données. Il existe plusieurs types de bases de données, chacune ayant ses spécificités.</p>
    <List data={ databasesdatas } imagePath="/_ad5a567a-90a1-470c-bf46-78f39bf701db.jpeg" />
</LayoutSkill>
