---
import { gitdatas } from "../../datas/skills/gitdatas";
import List from "../../components/List.astro";
import LayoutSkill from "../../layouts/LayoutSkill.astro";
---
<LayoutSkill title="GIT/GITHUB">
    <p slot="description">Git est un logiciel de gestion de versions décentralisé créé par Linus Torvalds en 2005, aussi auteur du noyau Linux. GitHub, quant à elle, est une plateforme de développement collaboratif de logiciels propriétaires et open source. Elle propose des fonctionnalités de gestion de projet, de suivi des problèmes, de demandes de fonctionnalités, et de documentation.Ce sont donc des outils indispensables pour tout développeur.</p>
    <List data={ gitdatas } imagePath="/_e40a63b3-6481-4c4f-bad7-3a3e1569059e.jpeg" />
</LayoutSkill>
