---
import { hostdatas } from "../../datas/skills/hostdatas";
import List from "../../components/List.astro";
import LayoutSkill from "../../layouts/LayoutSkill.astro";
---
<LayoutSkill title="Hébergement">
    <p slot="description">Pour héberger votre site web, il existe beaucoup d'alternatives. Certaines sont gratuites, d'autres payantes. Il est important de bien choisir son hébergeur en fonction de ses besoins et de comprendre comment cela fonctionne.</p>
    <List data={ hostdatas } imagePath="/_ad5a567a-90a1-470c-bf46-78f39bf701db.jpeg" />
</LayoutSkill>
