---
import { networkdatas } from "../../datas/skills/networkdatas";
import List from "../../components/List.astro";
import LayoutSkill from "../../layouts/LayoutSkill.astro";
---
<LayoutSkill title="Réseau">
    <p slot="description">
        Le réseau est un ensemble d'équipements interconnectés qui permettent de communiquer et d'échanger des données. Il existe différents types de réseaux, des réseaux locaux aux réseaux étendus, en passant par Internet. Il concerne aussi tout ce qui touche le fonctionnement du web en général, la sécurité, les protocoles, etc...
    </p>
    <List data={ networkdatas } imagePath="/_3227ca23-5d70-44c4-beac-3c3941ecd66c.jpeg" />
</LayoutSkill>
