---
import Layout from '../layouts/Layout.astro';
import NavBar from "../components/NavBar.astro";
import Header from "../components/Header.astro";
import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="LaDevdelaToile">
	<main>
		<NavBar />
		<Header />
		<Skills />
		<Footer />
	</main>
</Layout>
