---
interface Props {
	description: string;
	path: string;
	title: string;
}

const { title, description, path } = Astro.props;

---

<a href={path}>
	<astro-card class="min-h-full flex flex-col items-center gap-4 border border-default bg-offset p-6 transition duration-300 ease-in-out hover:cursor-pointer hover:text-white hover:bg-sky-700">
		<p class="text-center font-extrabold text-xl">
			{ title }
		</p>
		<p class="text-center text-offset text-sm">
			{ description }
		</p>
	</astro-card>
</a>
