<footer>
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <span class="block text-sm text-gray-500 sm:text-center">© 2024 <span>LaDevdelaToile™</span>. Tous droits réservés.</span>
    </div>
</footer>

