---
import { Image } from 'astro:assets';
import headerImage from '../../public/header.webp';
---

<header class="relative">
    <Image alt="" src={headerImage} class="w-full h-[34rem] object-cover"/>
    <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 flex flex-col justify-center items-start">
        <h1 class="p-4 pl-10 text-white text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-start">
            Apprenons ensemble !
        </h1>
        <p class="p-4 pl-10 text-white text-xl mt-4 max-w-lg [text-wrap:balance] lg:text-start">
            Tu veux améliorer tes skills ? Préparer un entretien ? Ou encore préparer ton CDA en totale indépendance et pour pas un centime ? Alors viens te joindre à mon aventure !
        </p>
        <button
            onclick="window.location.href = '/explanation';"
            type="button"
            class="px-6 py-3.5 ml-10 mt-4 text-base font-medium text-white bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center">
            Voir ce que je propose
        </button>
    </div>
</header>