---
import NavBar from "../../components/NavBar.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";

import { conferences } from "../../datas/conferences";
import Card from "../../components/Card.astro";
---
<Layout title="Conférences">
    <NavBar />
    <h1 class="text-4xl text-center font-bold mt-8">Conférences</h1>
    <p class="text-center text-lg mt-4 mx-4">
        Retrouvez ici une liste non-exhaustive de nombreuses conférences tech qui vous en apprendront davantage sur le monde du développement.
    </p>
    <ul class="m-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 auto-rows-[1fr]">
        {conferences.map((conference) => (
            <Card title={conference.title} description={conference.description} icon={conference.icon} path={conference.path} />
        ))}
    </ul>
    <Footer />
</Layout>
