---
import { Icon } from 'astro-icon/components'
---

<header class="flex flex-col md:flex-row items-center justify-center bg-white p-4 md:p-8 md:m-8">
    <div class="md:w-1/2 space-y-6">
        <h1 class="md:text-4xl text-2xl font-bold text-sky-500">
            Suivez tout un programme construis par vous-même
        </h1>
        <p>
            Ici je vais vous partager ma propre façon de faire et la manière dont je vais procéder pour continuer à améliorer mes skills.
        </p>
        <p>
            Que vous soyez débutant·e·s ou confirmé·e·s, vous avez tous·tes des choses à apprendre et à partager. Et c'est ensemble que nous pourrons y arriver.
        </p>
        <ul class="list-none space-y-2">
            <li class="flex items-center text-sky-500">
                <Icon class="mr-2" size={28} name="mdi:check-outline" />
                Gérez votre apprentissage
            </li>
            <li class="flex items-center text-sky-500">
                <Icon class="mr-2" size={28} name="mdi:check-outline" />
                Construisez votre planning
            </li>
            <li class="flex items-center text-sky-500">
                <Icon class="mr-2" size={28} name="mdi:check-outline" />
                Ne lâchez rien !
            </li>
        </ul>
    </div>
    <div class="mt-8 md:mt-0 m-4">
        <img width={400} height={400} src="/white-ferret-explanation.jpeg" alt="image représentant un furet blanc au sommet d'une montagne" class="rounded-lg shadow-lg" />
    </div>
</header>