---
import Layout from "./Layout.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---
<Layout title={title}>
    <div class="max-w-6xl mx-auto mb-10 px-4">
        <h1 class="text-4xl text-center font-bold mt-8">{title}</h1>
        <div class="text-lg mt-4">
            <slot name="description" />
        </div>
    </div>
    <slot />
</Layout>
